<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" >
  <h2>Edit parameters of the selected miner</h2>

  <div [formGroup]="form" fxLayout="column" fxLayoutGap="20px" style="width: 200px; margin: 20px">
    <mat-form-field>
      <mat-label>Amount of miner's money $:</mat-label>
      <input type="number" formControlName="minerMoneyFC" matInput>
      <mat-error>Number must be greater than 1</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Miner computing power TFlops:</mat-label>
      <input type="number" formControlName="minerPowerFC" matInput>
      <mat-error>Enter a value between 1 and 10</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country:</mat-label>
      <mat-select formControlName="minerCountryFC" >
        <mat-option *ngFor="let country of COUNTRIES" [value]="country.enumName">{{country.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <button mat-raised-button color="primary" [disabled]="!formValidation()" (click)="minerEdited()">
      Done
      <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close>
      Cancel
      <mat-icon>close</mat-icon></button>
  </div>
</div>
