<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" >
  <h2>Edit parameters of the selected miner</h2>

  <div [formGroup]="form" fxLayout="column" fxLayoutGap="20px" style="width: 200px; margin: 20px">
    <mat-form-field>
      <mat-label>Amount of miner's money:</mat-label>
      <input type="number" formControlName="minerMoneyFC" matInput>
      <mat-error *ngIf="minerMoneyFC.errors">Number must be greater then 1</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Miner computing power:</mat-label>
      <input type="number" formControlName="minerPowerFC" matInput>
      <mat-error *ngIf="minerPowerFC.errors">Number must be greater then 0 and less then 10</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country:</mat-label>
      <mat-select formControlName="minerCountryFC" >
        <mat-option *ngFor="let country of COUNTRIES" [value]="country.enumName">{{country.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="!formValidation()" (click)="minerEdited()">
    <mat-icon>done</mat-icon>
  </button>
</div>

