<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" >
<div [formGroup]="form" fxLayout="column" fxLayoutGap="20px" style="width: 200px; margin: 20px">
  <mat-form-field>
    <mat-label>Number of miner nodes:</mat-label>
    <input type="number" formControlName="numberOfMinersFC" (change)="setMinersNumber()" matInput>
    <mat-error *ngIf="numberOfMinersFC.errors">Number must be greater than 0</mat-error>
  </mat-form-field>
  <ng-container formArrayName="miners">
    <ng-container *ngFor="let minerForm of miners.controls; let i = index">
      <div [formGroupName]="i" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput type="number" formControlName="power" placeholder="Computing power TFlops">
          <mat-error>Enter a value between 1 and 10</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="money" placeholder="Initial budget $">
          <mat-error>Enter a value between 0 and 100000</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="country" placeholder="Country">
            <mat-option *ngFor="let c of COUNTRIES" [value]="c.enumName">{{c.name}} - electricity price multiplier: {{c.electricityPrice}} / month</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
</div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <button mat-raised-button color="primary" [disabled]="!formValidation()" (click)="onClick()">
      <span>Add {{numberOfMinersFC.value}} new miner/s </span>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close>
      Cancel
      <mat-icon>close</mat-icon></button>
  </div>

</div>
