<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" >
  <h2>Ustal początkową ilości węzłów w symulacji</h2>

  <div [formGroup]="form" fxLayout="column" fxLayoutGap="20px" style="width: 200px; margin: 20px">
    <mat-form-field>
      <mat-label>Liczba węzłów pełnych</mat-label>
      <input type="number" formControlName="nodesType1FC" (change)="setNumberOfNodes()" matInput>
      <mat-error *ngIf="nodesType1FC.errors">Liczba musi być większa niż 0</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Liczba węzłów lekkich</mat-label>
      <input type="number" formControlName="nodesType2FC" (change)="setNumberOfNodes()" matInput>
      <mat-error *ngIf="nodesType2FC.errors">Liczba musi być większa niż 0</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Liczba węzłów górniczych</mat-label>
      <input type="number" formControlName="nodesType3FC" (change)="setNumberOfNodes()" matInput>
      <mat-error *ngIf="nodesType3FC.errors">Liczba musi być większa niż 0</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Liczba węzłów nasłuchujących</mat-label>
      <input type="number" formControlName="nodesType4FC" (change)="setNumberOfNodes()" matInput>
      <mat-error *ngIf="nodesType4FC.errors">Liczba musi być większa niż 0</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="!formValidation()" (click)="onClick()">
    <span>Przejdź do symulacji z {{numberOfNodes}} węzłami </span>
    <mat-icon>done</mat-icon>
  </button>
</div>
