<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
    <mat-card>
      <mat-card-title>Set electricity price</mat-card-title>
      <div fxLayout="column" fxLayoutAlign="space-around start" >
            <mat-card-subtitle>Current electricity price:
            <mat-label>{{ electricitySlider.value}}</mat-label>
            </mat-card-subtitle>
          <mat-slider #electricitySlider [value]="electricityPrice" (change)="onElectricityPriceChange($event)" thumbLabel ></mat-slider>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-title>Set frequency of adding a new miner</mat-card-title>
      <div fxLayout="column" fxLayoutAlign="space-around start" >
            <mat-card-subtitle>Current frequency of adding a new miner to the network:
              <mat-label>{{ frequencySlider.value}}</mat-label>
            </mat-card-subtitle>
          <mat-slider #frequencySlider [value]="frequency" [min]="0" [max]="10"  (change)="onFrequencyChange($event)" thumbLabel></mat-slider>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-title>Frequency of adding a new miner</mat-card-title>
      <div fxLayout="column" fxLayoutAlign="space-around start" >
            <mat-card-subtitle>Current reward for mining a block:
              <mat-label>{{ rewardSlider.value}}</mat-label>
            </mat-card-subtitle>
          <mat-slider #rewardSlider [value]="reward" (change)="onRewardChange($event)" thumbLabel></mat-slider>
      </div>
    </mat-card>
  </div>
</div>
