<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
    <mat-card>
      <mat-card-title>Ustal Cenę prądu</mat-card-title>
      <div fxLayout="column" fxLayoutAlign="space-around start" >
            <mat-card-subtitle>Aktualna cena prądu:
            <mat-label>{{ electricitySlider.value}}</mat-label>
            </mat-card-subtitle>
          <mat-slider #electricitySlider [value]="electricityPrice" (change)="onElectricityPriceChange($event)" thumbLabel ></mat-slider>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-title>Częstotliwość Dodawanie nowego górnika</mat-card-title>
      <div fxLayout="column" fxLayoutAlign="space-around start" >
            <mat-card-subtitle>Aktualna częstotliwość dodawania nowego górnika do sieci:
              <mat-label>{{ frequencySlider.value}}</mat-label>
            </mat-card-subtitle>
          <mat-slider #frequencySlider [value]="frequency" (change)="onFrequencyChange($event)" thumbLabel></mat-slider>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-title>Ustal wartość nagrody</mat-card-title>
      <div fxLayout="column" fxLayoutAlign="space-around start" >
            <mat-card-subtitle>Aktualna nagroda za wykopanie bloku:
              <mat-label>{{ rewardSlider.value}}</mat-label>
            </mat-card-subtitle>
          <mat-slider #rewardSlider [value]="reward" (change)="onRewardChange($event)" thumbLabel></mat-slider>
      </div>
    </mat-card>
  </div>
  <app-buttons></app-buttons>
</div>

